<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liurunqing.lease.web.app.mapper.ViewAppointmentMapper">

    <resultMap id="appointmentItemVo" type="com.liurunqing.lease.web.app.vo.appointment.AppointmentItemVo"
               autoMapping="true">
        <id property="id" column="id"/>
        <collection property="graphVoList" ofType="com.liurunqing.lease.web.app.vo.graph.GraphVo">
            <result property="name" column="name"/>
            <result property="url" column="url"/>
        </collection>
    </resultMap>

    <select id="listItem" resultMap="appointmentItemVo">
        SELECT va.id,
               ai.NAME apartment_name,
               va.appointment_time,
               va.appointment_status,
               gi.NAME,
               gi.url
        FROM view_appointment va
                 JOIN apartment_info ai ON va.apartment_id = ai.id
                 LEFT JOIN graph_info gi ON va.apartment_id = gi.item_id
        WHERE va.is_deleted = 0
          AND ai.is_deleted = 0
          AND gi.is_deleted = 0
          AND va.user_id = #{userId}
          AND gi.item_type = ${@com.liurunqing.lease.model.enums.ItemType@APARTMENT.getCode()}
    </select>
</mapper>
