<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liurunqing.lease.web.admin.mapper.FeeKeyMapper">

    <resultMap id="feeKeyVos" type="com.liurunqing.lease.web.admin.vo.fee.FeeKeyVo" autoMapping="true">
        <id column="id" property="id"/>
        <collection property="feeValueList" ofType="com.liurunqing.lease.model.entity.FeeValue" autoMapping="true">
            <id column="fv_id" property="id"/>
            <result column="fv_name" property="name"/>
            <result column="id" property="feeKeyId"/>
        </collection>
    </resultMap>

    <select id="feeInfoList" resultMap="feeKeyVos">
        SELECT
            fk.id,
            fk.NAME,
            fk.create_time,
            fv.id   fv_id,
            fv.NAME fv_name,
            fv.unit
        FROM
            fee_key fk
                LEFT JOIN fee_value fv ON fv.fee_key_id = fk.id
        WHERE
            fk.is_deleted = 0
          AND fv.is_deleted = 0
    </select>
</mapper>
